@font-face { font-family:'PressStart2p'; font-weight: bold; src: url("press-start-2p/PressStart2P-Regular.ttf");}
* {
    font-family: 'PressStart2p', sans-serif;
    text-align: center;
}

.board{
    width: 450px;
    height: 450px;
    background-color: black;
    position:relative;
    margin: 1rem auto;
    outline: 3px solid black;
    z-index:-2;
}

.piece {
    position: absolute;
    width:25px;
    height:25px;
    background-color: white;
    z-index:-1;
}

.goal {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: yellow;
    z-index: -1;
}
#win {
    text-align: center;
    color:yellow;
    padding-top: 5rem;
    width:450px;
    margin: 0 0;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    z-index:1;
}

.score {
    color:white;
    position: absolute;
    width:440px;
    text-align: right;
    margin: 5px 5px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    z-index: 1;
}
.alpha {
    margin: 0 auto;
    padding: 1rem;
}